# include all required files
include LICENSE MANIFEST.in pyproject.toml setup.py setup.cfg
recursive-include . *.rst
recursive-include pye3d/cpp/ *.h CMakeLists.txt

# exclude build artifacts
global-exclude *.dll *.so *.dylib

# exclude other distribution/install artifacts
global-exclude .DS_Store
prune ./.*/
prune **/__pycache__
